<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>게시물 목록들~</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.content}"></td>
        <td th:text="'Likes: '+${post.likes}"></td>
        <td>
          <ul>
            <li th:each="comment : ${post.comments}">
              <span th:text="${comment.content}"></span>
              <span th:text="'Likes: ' + ${comment.likes}"></span></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>